@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap&subset=cyrillic');

$backgroundColor: #25283D;
$textColor: #EBEBED;

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font: 14px 'Arimo', sans-serif;
}

*, *::after, *::before {
    box-sizing: inherit;
}